<div class='row top clearfix'>
  <div class='currentThread'>
    <header class='currentHeader clearfix'>
      <h3>My Current Thread</h3>
      <h5>View Thread History <span>{</span></h5>
    </header> <!-- end currentHeader -->

    <div id='map-canvas'></div>

    <div class='thread'></div>

    <div class='suggested'>
      <header class='suggestedHeader'>
        <h4>Suggested Deeds</h4>
      </header> <!-- end suggestedHeader -->

      <div class='border'></div>

      <div class='suggestedDeedsContainer'>
        <p class='leftArrow'>(</p>
        <p class='rightArrow'>)</p>
        <div class='suggestedDeedsFrame'>
          <ul class='suggestedDeeds '></ul>
        </div> <!-- end suggestedDeedsFrame -->
      </div> <!-- end suggestedDeedsContainer -->
    </div> <!-- end suggested -->
  </div> <!-- end currentThread -->

  <div class='recentPosts'>
    <header class='recentHeader'>
      <h3>Recent Posts</h3>
    </header> <!-- end recentHeader -->

    <div class='recentContainer'>
      <ul class='recentList'></ul>
    </div> <!-- end recentContainer -->

    <div class='localFeatured'>
      <div class='featuredLocal'></div>
    </div> <!-- end localFeatured -->
  </div> <!-- end recentPosts -->
</div> <!-- end row top -->


