<div class='row top clearfix'>
  <div class='currentThread'>
    <header class='currentHeader clearfix'>
      <h3>My Current Thread</h3>
      <h5>View Thread History <span>{</span></h5>
    </header> <!-- end currentHeader -->

    <div id='map-canvas'></div>
    <div class='thread'></div>
  </div> <!-- end currentThread -->

  <div class='recentPosts'>
    <header class='recentHeader'>
      <h3>Recent Posts</h3>
    </header> <!-- end recentHeader -->

    <div class='recentContainer'>
      <ul class='recentList'></ul>
    </div> <!-- end recentContainer -->
  </div> <!-- end recentPosts -->
</div> <!-- end row top -->

<div class='row bottom clearfix'>
  <div class='leftBottom'>
    <div class='localFeatured'>
      <header class='localHeader'>
        <h4>Featured Local Cause</h4>
      </header> <!-- end localHeader -->

      <div class='featuredLocal'></div>
    </div> <!-- end localFeatured -->
  </div> <!-- end leftBottom -->

  <div class='rightBottom'>
    <div class='featured clearfix'>
      <div class='donationFeatured'>
        <header class='donationHeader'>
          <h4>Featured Donations</h4>
        </header> <!-- end donationHeader -->

        <ul class='featuredDonation clearfix'></ul>
      </div> <!-- end donationFeatured -->

      <div class='serviceFeatured'>
        <header class='serviceHeader'>
          <h4>Featured Services</h4>
        </header> <!-- end serviceHeader -->

        <ul class='featuredService clearfix'></ul>
      </div> <!-- end serviceFeatured -->
    </div> <!-- end featured -->

    <div class='suggested'>
      <header class='suggestedHeader'>
        <h4>Suggested Deeds</h4>
      </header> <!-- end suggestedHeader -->

      <ul class='suggestedDeeds clearfix'></ul>
    </div> <!-- end suggested -->
  </div> <!-- end rightBottom -->
</div> <!-- end row bottom -->


