
<div id='currentThread'>
  <div id='map-canvas'></div>
  <div id='thread'></div>
</div>

<div id='postList'></div>

<div id='featured'>
  <h3><em>Featured:</em></h3>
  <div id='featuredDeeds'>

  </div>
</div>

<div id='suggestedDeeds'>
  <h3><em>Suggested:</em></h3>
  <ul id='suggestedDonations'></ul>
  <ul id='suggestedServices'></ul>
</div>

<div id='localCauses'>
  <h3><em>Local:</em></h3>
  <ul id='localDonations'></ul>
  <ul id='localServices'></ul>
</div>
