
<div id='currentThread'>
  <div id='map-canvas'></div>
  <div id='thread'></div>
</div>

<div id='postList'></div>

<div id='featuredDeeds'></div>

<div id='suggestedDeeds'>
  <ul id='suggestedDonations'></ul>
  <ul id='suggestedServices'></ul>
</div>

<div id='localCauses'>
  <ul id='localDonations'></ul>
  <ul id='localServices'></ul>
</div>
