<div class='row clearfix'>
  <div id='currentThread'>
    <header class='currentHeader'>
      <h3>My Current Thread:</h3>
      <h5>View Thread History <span>{</span></h5>
    </header>
    <div id='map-canvas'></div>
    <div id='thread'></div>
  </div> <!-- end currentThread -->

  <div id='recentPosts'>
    <h3>Recent Posts:</h3>
    <div class='recentContainer'>
      <ul id='recentList'></ul>
    </div>
  </div> <!-- end recentPosts -->
</div> <!-- end row -->

<div class='row bottom clearfix'>
  <div id='featured' class='column'>
    <h3><em>Featured:</em></h3>
    <div id='featuredDeeds'></div>
  </div> <!-- end featured -->

  <div id='suggestedDeeds' class='column'>
    <h3><em>Suggested:</em></h3>
    <ul id='suggestedDonations'></ul>
    <ul id='suggestedServices'></ul>
  </div> <!-- end suggestedDeeds -->

  <div id='localCauses' class='column'>
    <div id='featuredLocal'></div>
    <h3><em>Local:</em></h3>
    <ul id='localDonations'></ul>
    <ul id='localServices'></ul>
  </div> <!-- end localCauses -->
</div> <!-- end row -->


