<div class='row top clearfix'>
  <div id='currentThread'>
    <header class='currentHeader'>
      <h3>My Current Thread:</h3>
      <h5>View Thread History <span>{</span></h5>
    </header>
    <div id='map-canvas'></div>
    <div id='thread'></div>
  </div> <!-- end currentThread -->

  <div id='recentPosts'>
    <h3>Recent Posts:</h3>
    <div class='recentContainer'>
      <ul id='recentList'></ul>
    </div>
  </div> <!-- end recentPosts -->
</div> <!-- end row -->

<div class='row bottom clearfix'>
  <div id='featured' class='column'>
    <h3>Featured Deeds:</h3>

    <div id='featuredDeeds'></div>
  </div> <!-- end featured -->

  <div id='suggestedDeeds' class='column'>
    <h3>Suggested Deeds:</h3>

    <div class='donations'>
      <h5>Donation Type Deeds:</h5>
      <ul id='suggestedDonations'></ul>
    </div>

    <div class='services'>
      <h5>Service Type Deeds:</h5>
      <ul id='suggestedServices'></ul>
    </div>
  </div> <!-- end suggestedDeeds -->

  <div id='locals' class='column'>
    <h3>Local Causes:</h3>
    <div id='featuredLocal'></div>
    <div class='local'>
      <ul id='localCauses'></ul>
    </div>
  </div> <!-- end localCauses -->
</div> <!-- end row -->


