<!DOCTYPE html>
<html>
<head>
  <title>Spread the Love!</title>
</head>
<body>
<h4>Keep the kindness going!</h4>
<p>Follow the link below and commit to doing something nice for someone, anyone.  Then watch what your good deed inspires others to do!</p>
<a href='http://goodwill-tracker.herokuapp.com/posts/join_thread/<%= @thread %>'>http://goodwill-tracker.herokuapp.com/posts/join_thread/<%= @thread %></a>
</body>
</html>