<div class='choices'>
  <div class='confirm'>
    <p>You are already working on a deed thread. Do you still want to join this new thread? (By hitting accept, you will be removed from the current one)</p>
  </div> <!-- end confirm -->
  <div class='choiceButtons'>
    <p class='accept button' data-id='<%= id %>'>Accept</p>
    <p class='decline button'>Decline</p>
  </div> <!-- end choiceButtons -->
</div> <!-- end choices -->