<div class='choices'>
  <button class='closeConfirmModal'>X</button>
  <h4>You are already working on a deed thread. Do you still want to join this new thread? (By hitting accept, you will be removed from the current one)</h4>
  <button class='accept'>Accept</button>
  <button class='decline'>Decline</button>
</div>