<div class='choices'>
  <button class='closeConfirmModal'>X</button>
  <div class='confirm'>
    <p>You are already working on a deed thread. Do you still want to join this new thread? (By hitting accept, you will be removed from the current one)</p>
  </div>
  <div class='choiceButtons'>
    <p class='accept button' data-id='<%= id %>'>Accept</p>
    <p class='decline button'>Decline</p>
  </div>
</div>