<div class='choices'>
  <header class='confirmHeader'>
    <h3>Uh Oh!</h3>
  </header> <!-- end confirmHeader -->

  <div class='confirm'>
    <p>You are currently part of an active Good Deed Thread. You can only join one Good Deed Thread at a time. </p>
    <p class='confirmMessage'>Do you still want to join this new thread?</p>
  </div> <!-- end confirm -->

  <div class='choiceButtons'>
    <p class='accept button' data-id='<%= id %>'>Change Deed Thread</p>
    <p class='decline button'>Never Mind, Cancel</p>
  </div> <!-- end choiceButtons -->
</div> <!-- end choices -->