<!-- Looping through each entry on the friends list and creating an invite entry -->
        <% _.each(contacts, function(c) { %>
          <li class='friends'>
            <div class='friendsEntry clearfix'>
              <h5><%= c.email %></h5>
              <!-- On submit it will send an invite via Facebook -->
              <button class='invite'>Invite</button>
            </div> <!-- end friendsEntry -->
          </li>
        <% }); %>