<div class='currentDeed' data-id='<%= current.id %>'>
  <div class='button postComplete'>
    <p>Post Deed As Complete</p>
  </div>  <!-- end postComplete -->

  <div class='currentDetails'>
    <h5>GOOD DEED TO BE COMPLETED:</h5>

    <h3 class='showCurrent' data-id='<%= current.details.id %>'><%= current.details.title %></h3>

    <p class='changeDeed'>Change Deed</p>
  </div> <!-- end currentDetails -->
</div> <!-- end currentDeed -->
