<li class='featuredEntry' data-id='<%= data.deed.id %>'>
  <div class='featuredContainer'>
    <div class='featuredImage'>
      <img src='<%= data.deed.picture %>'>
    </div> <!-- end featuredImage -->
  </div> <!-- end featuredContainer -->
</li> <!-- end featuredEntry -->