<div class='currentPostModal'>
  <button class='closeModal'>X</button>
  <header class='modalHeader'>
    <h3>Please select a deed or cause to commit to:</h3>
  </header>
  <div class='modalMain'>
    <div class='entryDetails'></div>
    <div class='lists'>
      <h4>Suggested Deeds</h4>
      <div class='suggestedDeedsModal'>
        <h5>Donation-Based:</h5>
        <ul class='suggestedDonationsModal'></ul>
        <h5>Service-Based:</h5>
        <ul class='suggestedServicesModal'></ul>
      </div>

      <h4>Local Causes</h4>
      <div class='localCausesModal'>
        <h5>Donation-Based:</h5>
        <ul class='localDonationsModal'></ul>
        <h5>Service-Based:</h5>
        <ul class='localServicesModal'></ul>
      </div>
    </div>
  </div> <!-- end modalMain -->
</div> <!-- end currentPostModal -->