<header class='newUserHeader'>
  <h3>Welcome to Goodwill Tracker!</h3>
  <h5 class='clearInstructions'>Don't show this again <span>x</span></h5>
</header>
<ol class='directions clearfix'>
  <li>
    <p class='num'>1.</p>
    <p class='spacer'>Choose a good deed from Goodwill Tracker that you would like to perform. This will start a new good deed thread</p>
    <div class='instructionImage'>
      <img src='instruction_1.png' class='odd'>
    </div>
  </li>
  <li>
    <div class='instructionImage'>
      <img src='instruction_2.png' class='even'>
    </div>
    <p class='num'>2.</p>
    <p class='spacer'>Once you complete the deed, come back to Goodwill Tracker and post that you have completed it</p>
  </li>
  <li>
    <p class='num'>3.</p>
    <p class='spacer'>Pass the kindness on by inviting one friend to do a good deed and join your thread</p>
    <div class='instructionImage' class='odd'>
      <img src='instruction_3.png'>
    </div>
  </li>
  <li>
    <div class='instructionImage'>
      <img src='instruction_4.png' class='even'>
    </div>
    <p class='num'>4.</p>
    <p class='spacer'>See how far your kindness has spread. Come back to Goodwill Tracker and view your thread map.</p>
  </li>
</ol>