<div class='modal'>
  <button class='closeModal'>X</button>
  <header class='modalHeader'>
    <h3>Please select a deed or cause to commit to:</h3>
  </header>
  <div class='modalMain'>
    <form>
      <input type='text' id='newTitle' placeholder='Please enter a title...' />
    </form>

  </div> <!-- end modalMain -->
</div> <!-- end modal -->