<header class='modalHeader'>
  <h3>Please select a deed or cause to commit to:</h3>
</header> <!-- end modalHeader -->

<div class='modalMain'>
  <div class='entryDetails'></div>

  <nav class='deedNav clearfix'>
    <ul class='listTypes'>
      <li class='listNav donations active' data-type='donation'>Donations</li>
      <li class='listNav services' data-type='service'>Services</li>
      <li class='listNav localCause' data-type='local'>Local Causes</li>
    </ul>

    <p class='addDeedModal'>Don't like these deeds? <span class='addDeedLink'>Add your own!</span></p>
  </nav> <!-- end deedNav -->

  <div class='lists'>
    <ul class='list clearfix'></ul>
  </div> <!-- end localList -->
</div> <!-- end modalMain -->
