<div class='currentPostModal'>
  <button class='closeModal'>X</button>
  <header class='modalHeader'>
    <h3>Please select a deed or cause to commit to:</h3>
  </header>
  <div class='modalMain'>
    <div class='entryDetails'></div>
    <div class='lists'>
      <div class='suggestedDeedsModal'>
        <h3>Suggested Donations:</h3>
        <ul class='suggestedDonationsModal'></ul>
        <h3>Suggested Services:</h3>
        <ul class='suggestedServicesModal'></ul>
      </div>

      <h3 class='localList'>Local Causes:</h3>
      <div class='localModal'>
        <ul class='localCausesModal'></ul>
      </div>
    </div>
  </div> <!-- end modalMain -->
</div> <!-- end currentPostModal -->