
  <header class='modalHeader'>
    <hgroup class='completeHeader'>
      <h1>Great Job! Thanks For Helping!!</h1>
      <h4>Now in order to post your good deed and keep this thread of good deeds going, <span class='dark'>you must invite a friend.</span></h4>
    </hgroup> <!-- end completHeader -->
  </header> <!-- end modalHeader -->

  <div class='modalMain' data-id='<%= current.id %>'>
    <div class='inviteMessage'></div>

    <div class='inviteWindow clearfix'>
      <h4>Invite your friends to take part...</h4>
      <div class='contacts'>
        <ul class='contactsList'></ul>
      </div> <!-- end contacts -->

      <div class='google'></div>

      <div class='addEmail'>
        <input type='text' id='email' placeholder='Type in an email...' />
        <p class='addedEmail invite button'>Invite</p>
      </div> <!-- end addEmail -->
    </div> <!-- end inviteWindow -->

    <div class='detailsWindow clearfix'>
      <div class='leftCol'>
        <h5>Post Title:</h5>
      </div> <!-- end leftCol -->

      <div class='rightCol postTitle'>
        <input type='text' id='postTitle' value='<%= current.details.title %>' />
      </div> <!-- end rightCol -->

      <div class='leftCol'>
        <h5>Post Description:</h5>
      </div> <!-- end leftCol -->

      <div class='rightCol'>
        <textarea id='deedDetails'><%= current.details.description %></textarea>
      </div> <!-- end rightCol-->
    </div> <!-- end detailsWindow -->

    <div class='postErrors'></div>

    <div class='postDone'>
      <p class='button updatePost'>Submit Deed As Complete</p>
    </div> <!-- end postDone -->
  </div> <!-- end modalMain -->
