<div class='currentPostModal'>
  <button class='closeModal'>X</button>
  <header class='modalHeader'>
    <hgroup>
      <h1>Great Job! Thanks For Helping!!</h1>
      <h3>Now keep this thread of good deeds going across the globe.</h3>
    </hgroup>
  </header> <!-- end modalHeader -->
  <div class='modalMain'>
    <input type='text' id='postTitle' value='<%= current.details.title %>' />
    <textarea id='deedDetails'><%= current.details.description %></textarea>
    <h4>Invite your friends to take part...</h4>
    <div class='contacts'>
      <ul class='contactsList'>

      </ul>
    </div>
    <button class='updatePost'>Done</button>
  </div> <!-- end modalMain -->
</div> <!-- end currentPostModal -->