<div class='currentPostModal'>
  <button class='closeModal'>X</button>
  <header class='modalHeader'>
    <hgroup class='completeHeader'>
      <h1>Great Job! Thanks For Helping!!</h1>
      <h4>Now in order to post your good deed and keep this thread of good deeds going, <span class='dark'>you must invite a friend.</span></h4>
    </hgroup>
  </header> <!-- end modalHeader -->
  <div class='modalMain modalPostMain' data-id='<%= current.id %>'>
    <div class='inviteMessage'></div>
    <div class='inviteWindow clearfix'>
      <h4>Invite your friends to take part...</h4>
      <div class='contacts'>
        <ul class='contactsList'>

        </ul>
      </div>
      <div class='google'></div>
      <div class='addEmail'>
        <input type='text' id='email' placeholder='Type in an email...' />
        <p class='addedEmail invite button'>Invite</p>
      </div>
    </div>

    <div class='postTitleModal clearfix'>
      <div class='leftCol'>
        <h5>Post Title:</h5>
      </div>
      <div class='right'>
        <input type='text' id='postTitle' value='<%= current.details.title %>' />
      </div>
    </div>
    <div class='postDescriptionModal clearfix'>
      <div class='leftCol'>
        <h5>Post Description:</h5>
      </div>
      <div class='right'>
        <textarea id='deedDetails'><%= current.details.description %></textarea>
      </div>
    </div>
    <div class='postErrors'></div>
    <p class='button updatePost'>Submit Deed As Complete</p>
  </div> <!-- end modalMain -->
</div> <!-- end currentPostModal -->