<li class='recentEntry clearfix' data-id='<%= data.id %>'>
  <div class='profile'>
    <img src='<%= data.pic %>'>
  </div>
  <div class='recentDetails'>
    <h4><%= data.title %></h4>
    <p><%= data.name %></p>
  </div>
</li>