<ul class='threadList'>
  <% if(lists.length > 0) { %>
    <% _.each(lists, function(l) { %>
      <li data-id='<%= l %>'><%= l %></li>
    <% }); %>
  <% } else { %>
    <li>You have no past threads</li>
  <% } %>
</ul>
<% if(lists.length > 0) { %>
  <p class='backToCurrent'>Back to Current Thread</p>
<% } %>