// Place all the styles related to the goodwill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*******************/
/**** Variables ****/
/*******************/

$containerWidth: 1170px;
$modalWidth: $containerWidth * 0.5;



/*******************/
/**** Functions ****/
/*******************/

@function center($windowHeight, $modalHeight) {
  @return ($windowHeight/2) - ($modalHeight/2);
}


/*****************/
/**** General ****/
/*****************/

body, html {
  height: 100%;
  width: 100%;
}

.container {
  width: $containerWidth;
  position: relative;
  margin: auto;
  font: normal 14px/14px 'judsonmedium', serif;
  color: #838488;
}

.row {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a, button, .postComplete, .startThread, .currentDeed, .changeDeed,
.googleContacts, .invite, .updatePost, .accept, .decline, .upVote, .downVote, .deedEntry {
  cursor: pointer;
}

li {
  list-style: none;
}

.button {
  background: -webkit-linear-gradient(top, #72a6dd 50%,#3877B8  100%);
  padding: 10px;
  border-radius: 5px;
  color: #fefefe;
  font-family: 'gandhi_sansregular';
  margin-top: 15px;
}


/****************/
/**** Header ****/
/****************/

.mainHeader {
  width: 100%;
  padding: 20px;
  background: white;
  color: black;
  border-bottom: 1px solid #aec3d9;
  box-shadow: 0 1px 4px #b9ccde;
  color: #838488;
}

.title {
  float: left;
}

.title h1 {
  font: normal 30px/30px 'gandhi_sansregular', sans-serif;
  color: #3b78b6;
}

.title h4 {
  font-size: 16px;
  line-height: 24px;
}

#user_nav {
  float: right;
  text-align: right;
}

#user_nav img {
  float: left;
  box-shadow: 0.3px 0.3px 1px #393f41;
  width: 20%;
}

#user_nav p {
  float: right;
  margin-bottom: 5px;
}

#user_nav a {
  float: right;
  clear: right;
  font-size: 12px;
  color: #41BADC;
}


/*************/
/**** Map ****/
/*************/

.mapInfo h3 {
  margin-bottom: 3px;
  font-size: 14px;
  color: black
}

.mapInfo p {
  margin-bottom: 2px;
}

#map-canvas {
  width: 100%;
  height: 400px;
}

/***************/
/**** Votes ****/
/***************/

.voteTotals {
  float: right;
}

.vote {
  float: left;
}

.vote:first-child {
  margin-right: 10px;
}

.downVote, .upVote {
  color: #52C1E0;
}


/************************/
/**** Current Thread ****/
/************************/

.thread {
  background: #e8eaeb;
  padding: 10px;
  margin-top: 10px;
  height: 85px;
}

.currentThread {
  width: 70%;
  float: left;
  padding-left: 20px;
  padding-top: 30px;
}

.currentHeader h3 {
  float: left;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.currentHeader h5 {
  float: right;
  font-size: 16px;
  line-height: 16px;
  margin-right: 10px;
}

.currentHeader h5 span {
  font-family: 'web_symbolsregular';
}

.currentDeed {
  display: block;
  color: #5b656f;
}

.currentDeed h3 {
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
}

.currentDeed h5 {
  font-size: 16px;
  line-height: 16px;
}

.currentdetails {
  display: inline;
  float: left;
}

.currentDetails p {
  margin-top: 5px;
  color: #41BADC;
}

.postComplete {
  float: right;
}

.startThread {
  display: block;
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  border-radius: 8px;
  margin-top: 10px;
}

.changeDeed {
  display: inline-block;
  float: left;
  clear: both;
}


/***************/
/**** Modal ****/
/***************/

.overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background: black;
  opacity: 0.7;
}

.overlayWindow {
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  width: $modalWidth;
  left: center($containerWidth, $modalWidth);
  top: -1000px;
  max-height: 1000px;
  overflow: auto;
  padding: 20px;
  text-align: center;
  z-index: 2000;
}

.closeModal, .closeConfirmModal {
  float: right;
  display: inline-block;
}

.closeConfirmModal {
  margin-bottom: 10px;
}

.modal {
  width: 100%;
}

.modalHeader {
  text-align: center;
}

.modalHeader h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}

.modalMain {
  text-align: left;
  padding: 0 30px;
}

.rightCol {
  width: 70%;
  padding: 0 20px;
  float: left;
}

.leftCol {
  float: left;
  text-align: right;
  width: 30%;
}

/**** Post Complete Modal ****/

.completeHeader {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}

.completeHeader h4 {
  font-size: 18px;
  margin-top: 15px;
}

.dark {
  color: #5188C1;
  font-size: 20px;
}

.detailsWindow {
  width: 100%;
}

#postTitle {
  width: 100%;
  padding: 3px;
}

.postTitle {
  margin-bottom: 20px;
}

#deedDetails {
  width: 100%;
  resize: none;
  height: 50px;
  overflow: auto;
  padding: 3px;
}

.updatePost {
  display: inline-block;
  text-align: center;
  width: 100%;
}

/**** Invites Modal ****/

.inviteWindow {
  width: 100%;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.inviteWindow h4 {
  margin-bottom: 10px;
}

.google, .addEmail {
  float: left;
  background: #E8EAEB;
  padding: 10px 10px 20px 10px;
}

.google {
  width: 40%;
}

.addEmail {
  width: 58%;
  margin-left: 2%;
  padding-bottom: 7px;
}

.importGoogle {
  text-align: center;
}

.googleHeader {
  width: 100%;
  margin-bottom: 20px;
}

.importGoogle h5 {
  margin-bottom: 20px;
  display: inline;
}

.googleContacts {
  display: inline;
  padding: 10px;
  font-size: 12px;
  line-height: 12px;
}

#email {
  margin: 2px 0 6px 0;
  width: 100%;
  padding: 3px;
}

.postErrors, .error {
  color: red;
}

.postErrors {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.friends {
  width: 100%;
  padding: 10px;
}

.friends p {
  float: right;
}

.contacts {
  max-height: 200px;
  overflow: scroll;
  margin-bottom: 20px;
  padding: 5px;
}

.contactName, .contactName h5 {
  display: inline;
}

.invite {
  display: inline-block;
  padding: 8px;
  margin-top: 0;
}

.inviteMessage {
  margin-bottom: 20px;
  text-align: center;
}

/**** Accept Modal ****/

.confirm {
  clear: both;
  padding: 10px;
}

.accept, .decline {
  display: inline-block;
}

.decline {
  margin-left: 10px;
}

/**** New Post Modal ****/

.deed {
  padding: 5px;
  margin: 5px 0;
}

.deedEntry {
  display: inline-block;
}

.suggestedServicesModal, .suggestedDonationsModal, .localCausesModal {
  max-height: 170px;
  overflow: scroll;
}

// .modalPostMain {
//   text-align: center;
//   padding: 0;
// }




// .choices {
//   width: 100%;
// }











// .lists h3 {
//   font-size: 25px;
//   line-height: 35px;
//   padding: 0 20px;
// }

// .suggestedServices {
//   margin-top: 30px;
// }



// .suggestedDeedsModal h3, .localList {
//   margin-top: 20px;
// }

// .lists h4 {
//   padding: 0 30px 0 10px;
// }

// .back {
//   float: left;
// }

// .back:hover {
//   cursor: pointer;
// }

// .submitPost {
//   cursor: pointer;
//   display: inline-block;
// }

// .deedInformation {
//   float: left;
//   clear: both;
//   text-align: center;
// }

// .deedInformation h4 {
//   font-size: 25px;
//   line-height: 25px;
//   margin: 15px 0;
// }

// .deedDets {
//   width: 100%;
//   text-align: center;
// }

// .deedDets li {
//   width: 100%;
//   margin-bottom: 10px;
// }

// .deedDets h5 {
//   font-size: 16px;
//   line-height: 16px;
// }

// .deedDets p {
//   float: left;
// }

// .deedInformation img {
//   float: right;
//   width: 100%
// }






















// // ****** Recent Posts ******

// #recentPosts {
//   float: left;
//   width: 30%;
//   height: 504px;
//   padding: 30px 0;
// }

// #recentPosts h3 {
//   font: normal 25px/25px 'judsonmedium', serif;
//   padding: 0 20px 5px 20px;
// }

// .recentContainer {
//   overflow: auto;
//   height: 480px;
//   margin-bottom: 10px;
//   padding: 0 20px;
//   width: 100%
// }

// .recentEntry {
//   padding: 10px;
//   border-bottom: 1px dotted #c9d5e2;
//   width: 100%;
// }

// .recentEntry:last-child {
//   border-bottom: none;
// }

// .profile, .recentDetails {
//   float: left;
// }

// .recentDetails {
//   padding-left: 10px;
// }

// .recentDetails h4 {
//   font-size: 17px;
//   line-height: 17px;
//   padding-bottom: 5px;
// }

// .recentDetails p {
//   font-size: 12px;
//   line-height: 12px;
// }



// // ****** Deeds ******

// .column {
//   float: left;
//   display: block;
//   padding: 10px 20px 10px 10px;
// }

// .bottom {
//   padding: 40px 20px;
// }

// .bottom h3 {
//   font-size: 25px;
//   line-height: 25px;
//   margin-bottom: 20px;
// }

// .vote {
//   margin-left: 28px;
//   float: left;
// }


// .downVote {
//   margin-left: 20px;
// }

// .voteTotals {
//   float: right;
// }


// .more {
//   padding-top: 10px;
//   padding-left: 20px;
//   color: #63C3E1;
// }

// .more:hover {
//   cursor: pointer;
// }

// .detailsTitle {
//   margin-bottom: 15px;
//   font-size: 25px;
//   line-height: 25px;
//   text-align: left;
// }

// .deedEntryDets {
//   width: 100%;
//   text-align: center;
// }

// .deedEntryDets li {
//   width: 100%;
//   margin-bottom: 10px;
// }

// .deedEntryDets h5 {
//   font-size: 16px;
//   line-height: 16px;
// }

// .deedEntryDets p {
//   float: left;
// }

// .change {
//   cursor: pointer;
//   text-align: center;
//   color: #44BDE0;
//   margin-top: 15px;
// }



// // ****** Featured Deeds ******

// #featured {
//   width: 35%;
// }

// .featuredEntry {
//   float: left;
//   width: 50%;
//   display: inline-block;
//   padding: 10px 20px 10px 0;
// }

// .featuredContainer {
//   box-shadow: 0.5px 0.5px 1.5px #B7B7B7;
//   width: 100%;
// }

// .featuredContainer:hover {
//   cursor: pointer;
//   background: #E8EAEB;
// }

// .featuredImage {
//   width: 100%;
// }

// .featuredImage img {
//   width: 100%;
// }

// .featuredInfo {
//   padding: 10px;
//   width: 100%;
// }

// .featuredTitle {
//   width: 100%;
// }

// .featuredInfo h4 {
//   font-size: 16px;
//   line-height: 16px;
// }

// .featuredVotes {
//   float: right;
//   margin-top: 10px;
// }

// .featuredVotes p {
//   float: left;
//   padding-left: 20px;
// }



// // ****** Suggested Deeds ******

// #suggestedDeeds {
//   width: 35%;
// }

// #suggestedDeeds h3 {
//   margin-left: 20px;
//   display: inline-block;
// }

// .addDeed {
//   float: right;
//   margin-right: 30px;
//   margin-top: -15px;
// }

// .newDeed {
//   padding: 7px;
//   font-size: 12px;
//   line-height: 12px;
//   cursor: pointer;
// }

// .donations {
//   padding-top: 10px;
// }

// .donations h5, .services h5 {
//   font-size: 20px;
//   line-height: 20px;
//   margin-bottom: 10px;
//   padding-left: 20px;
// }

// .services  {
//   padding-top: 30px;
// }

// .deed {
//   width: 100%;
// }

// .deedEntry {
//   float: left;
//   margin-left: 20px;
//   max-width: 50%;
// }

// .deedEntry h4 {
//   font-size: 16px;
//   line-height: 25px;
//   color: #63C3E1;
// }

// // .deed:hover {
// //   cursor: pointer;
// //   background: #E8EAEB;
// // }




// // ****** Local Causes ******

// #locals {
//   width: 30%;
// }

// #locals h3 {
//   margin-left: 10px;
//   display: inline-block;
// }

// #featuredLocal {
//   margin-left: 10px;
// }

// .completeLists {
//   max-height: 400px;
//   overflow: scroll;
// }

