// Place all the styles related to the goodwill controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ****** Variables ******

$containerWidth: 1170px;
$modalWidth: $containerWidth * 0.7;



// ****** Functions ******

@function center($windowHeight, $modalHeight) {
  @return ($windowHeight/2) - ($modalHeight/2);
}



// ****** General ******

.container {
  width: $containerWidth;
  position: relative;
  margin: auto;
}



// ****** Maps ******

#map-canvas {
  height: 300px;
  width: 600px;
}



// ****** Modal ******

#overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background: black;
  opacity: 0.7;
}

#overlayWindow {
  background-color: #fff;
  border:1px solid #000;
  position: absolute;
  width: $modalWidth;
  left: center($containerWidth, $modalWidth);
  top: -1000px;
  max-height: 1000px;
  overflow: auto;
  padding: 40px;
  text-align: center;
  z-index: 2000;
}

.closeModal {
  float: right;
  display: inline-block;
}



// ****** Post Modal ******

.currentPostModal {
  width: 100%;
}

.friendsWindow {
  width: 100%;
  max-height: 310px;
  overflow: auto;
  padding: 10px;
}

.friendsList {
  width: 100%;
}

.friends {
  width: 33.33333333333%;
  float: left;
  padding: 10px;
}

.friendsEntry {
  box-shadow: 1px 1px 3px black;
  display: block;
  padding: 5px;
}

.friendsEntry img {
  float: left;
  width: 33%;
}

.friendsEntry h5 {
  float: left;
  width: 67%;
  margin-bottom: 10px;
}